<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Failed</title>
</head>
<body>
    <h1>Wrong email or password</h1>
    <br>
    <br>
    <p>new user? <a href="sign-up">sign-up</a></p>
</body>
</html>